/** Add css rules here for your application. */
body {
  font-family:arial,sans-serif
}

div,td {
  color:#000000
}

a:link {
  color:#0000cc
}
     
a:visited {
  color:#551a8b
}

a:active {
  color:#ff0000
}

button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

div#login {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    background: #ffffff;
    border-style: solid;
    border-color: rgb(146, 193, 240);
    border-width: 2px;
}

.gwt-Label-error {
    color: #ff0000;
}

.error {
    color: #ff0000;
}

td.header {
    border-bottom: solid;
    border-bottom-color: #000000;
    border-bottom-width: 1px;
}

td.footer {
    border-top: solid;
    border-top-color: #000000;
    border-top-width: 1px;
}

.coming {
    background: #ccffcc;
}

.standby {
    background: #ccffff;
}

.maybe {
    background: #ffffcc;
}

.notcoming {
    background: #ffcccc;
}

.coming-hi {
    background: #99ff99;
}

.maybe-hi {
    background: #ffff99;
}

.notcoming-hi {
    background: #ff9999;
}

.gwt-TabPanel-main {
    margin-left: auto;
    margin-right: auto;
}

.gwt-Button-bottom {
    margin-top: auto;
    margin-bottom: 0px;
}

.gwt-Button-left {
    margin-left: 0px;
    margin-right: auto;
}

.gwt-Button-right {
    margin-left: auto;
    margin-right: 0px;
}

.gwt-CheckBox-bottom {
    margin-top: auto;
    margin-bottom: 0px;
}

.gwt-CheckBox-left {
    margin-left: 0px;
    margin-right: auto;
}

.padleft {
    padding-left: 10px;
}

.bad-drop-target {
    background: #ff6666;
}

.non-draggable-character,
.draggable-character,
.available-character {
    padding: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.non-draggable-character {
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(96, 96, 96);
}

.available-character {
    background-color: #dddddd;
    border: 1px solid rgb(96, 96, 96);
}

.draggable-character {
    background-color: rgb(17, 42, 68);
    border: 1px solid rgb(212, 212, 212);
}

.Druid { color: #FF7D0A; }
.Hunter { color: #ABD473; }
.Mage { color: #69CCF0; }
.Paladin { color: #F58CBA; }
.Priest { color: #FFFFFF; }
.Rogue { color: #FFF569; }
.Shaman { color: #2459FF; }
.Warlock { color: #9482C9; }
.Warrior { color: #C79C6E; }
.Death-Knight { color: #C41F3B; }
